<div class="container-fluid position-relative">
    <div class="landing row">
        <div class="section1 col-md-4 position-relative">
            <p class="pragragh2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the
            </p>
        </div>
        <div class="bg-main text-light col-md-8 position-relative">
            <div class="content">
                <h3>How we <br>work</h3>
            </div>
            <div class="text">
                <p class="text2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the
                </p>
                <button (click)="scrollToSection('contact')" class="main-bottom"><a href="">Contact us</a></button>
            </div>
        </div>
    </div>
    <div class="container gallary position-absolute top-50 text-center ">
        <div class="imags d-flex justify-content-between align-items-center">
            <div class="one">
                <img width="80%" src="./assets/img/Image 3.png" alt="">
            </div>
            <div class="tow">
                <img width="80%" src="./assets/img/Image 2.png" alt="">
            </div>
            <div class="three">
                <img width="80%" src="./assets/img/Image 1.png" alt="">
            </div>
            <div class="four">
                <img width="80%" src="./assets/img/Image.png" alt="">
            </div>
        </div>
        <button (click)="scrollToSection('contact')" class="main-bottom"><a href="">Contact Us</a></button>
    </div>
</div>